@font-face {
    font-family: 'customfont';
    src: url('../../fonts/zorque-webfont.woff2') format('woff2'),
         url('../../fonts/zorque-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
